body{
  margin: 0;
  padding: 0;
  background-image: url("../html/images/book.png"), url("../html/images/cuttingboard.png");
  background-size: 55vw 105vh, cover;
  /*background-position: center;*/
  background-repeat: no-repeat, repeat;
  background-position: 20vw 4vh;
}
form#create{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 13vw;
  margin-top: 7vh;
}
form#create div{
  margin-bottom: 1vh;
}

form#create div input{
  height: 4.5vh;
  width: 29vw;
  background: inherit;
  border: solid #BBBBBB 1px;
  border-radius: 3px;
  outline: none;
  font-size: 2.5vh;
  padding-left: 1vw;
}

div#createbody {
  max-width: 30vw;
  max-height: 60vh;
  overflow: scroll;
  margin-left: 20vw;
  margin-top: 4vh;
}
div#createtitle{
  margin-left: 20vw;
}

::-webkit-input-placeholder {
  color: darkgrey;
  font-size:2.5vh;
  font-weight: 200;
  font-family: sans-serif;

}

button{
  margin-top: 1vh;
  margin-left: 29vw;
  height: 4vh;
  width: 12vw;
  border-radius: 5px;
  border: solid darkgrey 1px;
  background-color: rgba(87, 211, 59, 0.7);
  font-family: 'Poiret One', cursive;
  font-size: 2.5vh;
  font-weight: 900;
  transition: all 0.3s ease;
}
button:hover{
  background-color: rgb(12, 104, 0);
  color: white;
}
