body{
  margin: 0;
  padding: 0;
  background-image: url("../html/images/book.png"), url("../html/images/cuttingboard.png");
  background-size: 55vw 105vh, cover;
  /*background-position: center;*/
  background-repeat: no-repeat, repeat;
  background-position: 20vw 4vh;
}
ul#list {
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 32.7vw;
  margin-top: 5vw;
  color: none;
  max-width: 30vw;
  max-height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul#list li{
  padding: 0;
  margin-top: -1.5vh;
  color: none;
  line-height: 7vh;


}
ul#list li#createlink{
  padding: 0;
  margin: 0;
  margin-bottom: 2vh;
  color: none;

}
ul#list li#createlink a{
  font-size: 6vh;

}
ul#list li a{
  word-wrap: break-word;
  color: black;
  font-size: 4vh;
  text-decoration: none;
  font-family: 'Annie Use Your Telescope', cursive;
  transition: all 0.25s ease;
}

ul#list li a:hover{
  color: rgb(46, 155, 29);
}

button#listEdit {
  height: 2vw;
  width: 3vw;
  font-size: 2.5vh;
  text-align: center;
  background-color: #72D858;
  border: none;
  border-radius: 5px;
  transition: all 0.25s ease;

}
button#deletebutton {
  height: 2vw;
  width: 3vw;
  font-size: 2.5vh;
  text-align: center;
  background-color: #FF4F4F;
  border: none;
  border-radius: 5px;
  transition: all 0.25s ease;

}
button#listEdit:hover{

  color: white;
}
button#deletebutton:hover{

  color: #EFEFEF;
}
