body{
  margin: 0;
  padding: 0;
  background-image: url("../html/images/signup.png");
  background-size: cover;
}
form{
  margin-top: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  margin-top: 1vh;
  height: 7vh;
  width: 35vw;
  background: rgba(255, 255, 255, 0.4);
  border: darkgrey solid 1px;
  border-radius: 5px;
  font-size: 3.5vh;
  font-weight: 200;
  font-family: 'Quicksand', sans-serif;
}
::-webkit-input-placeholder {
  color: darkgrey;
  font-size: 3.5vh;
  font-weight: 200;
  font-family: 'Poiret One', cursive;
}
p{
  font-family: 'Poiret One', cursive;
  font-size: 3vw;
  margin: 0;
  /*margin-right: 7vw;*/
  font-weight: 900;
}
button{
  margin-top: 1vh;
  height: 6vh;
  width: 12vw;
  border-radius: 5px;
  border: solid darkgrey 1px;
  background-color: rgba(87, 211, 59, 0.7);
  font-family: 'Poiret One', cursive;
  font-size: 3vh;
  transition: all 0.3s ease;
}
button:hover{
  background-color: rgb(12, 104, 0);
  color: white;
}
