<!-- <div>
  <input type="text" ng-model="post.title">
</div>
<div>
  <textarea type="text" ng-model='post.body'></textarea>
</div>
<button ng-click='edit(post)'>Edit</button> -->

<form id='create'>
  <div id='createtitle'>
    <input type="text" ng-model='post.title' placeholder="Recipe Name">
  </div>
  <div id='createbody'>

      <trix-editor angular-trix class='trix-content' name="area1"  ng-model='post.body' ng-bind-html='MytrustedHtml'></trix-editor >


  </div>
  <button id='editbutton' ng-click='edit(post)'>Edit</button>
</form>
